<%- include('header.ejs'); -%>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-item-center">
          <div class="col-lg-6 col-md-8 col-10">
            <div class="card card_cs">
              <div class="card-title text-center fs-1 mt-3 head_cs"><h1><%= listTitle %></h1></div>
              <div class="card-body">
                <!-- <ul class="list-group text-center fs-5">
                  <li class="list-group-item list_cs">
                    <p class="ps-lg-5 ps-md-3">apple</p>
                    <i class="fa-solid fa-ban"></i>
                  </li>
                 
                </ul> -->
                <ul class="list-group text-center fs-5 scrollspy-example" data-mbs-spy="scroll" data-mbs-offset="0" tabindex="0">
                <% listItem.forEach((item)=>{ %>
                        <li class="list-group-item list_cs">
                          <p class="ps-lg-5 ps-md-3"><%= item.name %></p>
                          <i class="fa-solid fa-ban"></i>
                        </li>
                        <% }) %> 
                </ul>
              </div>
              <div class="card-footer d-flex justify-content-center align-content-center flex-column">
                <form action="/todolist" method="post" class="d-flex justify-content-center align-content-center flex-column">
                    <input type="hidden" name="userTitle" value="<%= listTitle %> ">
                    <input type="text" name="userdata" id="userdata" class="form-control text-center input_cs">
                    <button type="submit" class="btn btn-success fs-5 mt-2">+</button>
                </form>
                <!-- <form action="/todolist/:userRoute" method="get" class="d-flex justify-content-center align-content-center flex-column mt-3">
                    <input type="text" name="useroute" id="useroute" class="form-control text-center input_cs">
                    <button type="submit" class="btn btn-success fs-5 mt-2">New</button>
                </form> -->
            </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('footer.ejs'); -%>
